.reminder{
    margin-bottom: 5px;
}
.reminder input{
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
}
.btn{
    background-color: #ffd700;
    position: relative;
    right: 5px;
}